.navbar {
  padding: 0.5rem 12%;
  background-color: transparent;
  & img {
    width: 6rem;
  }
  &-nav {
    & .nav-item {
      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
    & .nav-link {
      font-size: 1.4rem;
      letter-spacing: 1.5px;
      font-weight: 500;
      color: var(--color-white);
      line-height: 3rem;
      position: relative;

      &:hover {
        color: var(--secondary);
        transition: 0.5s;
        &::before {
          width: 80%;
          transform: scale(1);
        }
      }
      &::before {
        @media only screen and (max-width: 770px) {
          border: none;
        }
        content: "";
        bottom: 0;
        left: 10%;
        border-bottom: 3px solid var(--secondary);
        position: absolute;
        transition: transform 0.5s ease-in-out;
        transform: scale(0);
      }
    }
  }
  &-toggler {
    i {
      color: var(--color-white);
      font-size: 2.2rem;
    }
    i:active {
      color: var(--secondary);
    }
  }
}
.affix {
  transition: all 0.8s;
  background-color: var(--primary);
  & img {
    width: 5rem;
  }
  & .nav-link {
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 600;
  }
}
