.testimonials {
  background-color: var(--background-color);
  padding: 100px 8%;
  h2 {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-grey);
    margin-bottom: 60px;
    position: relative;
    &::before {
      content: "";
      bottom: -30px;
      left: 50%;
      width: 100px;
      transform: translate(-50%, -50%);
      border-bottom: 8px solid var(--secondary);
      position: absolute;
    }
  }
}
